.rocket-holder {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rocket {
  display: flex;
  gap: 1rem;
}
.rocket > img {
  width: 400px;
  height: 130px;
}
.detail-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.detail-container p {
  font-size: 15px;
}
#reserve-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 10px;
}
