.rocket-holder {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.rocket {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 2rem;
}

.image-container {
  width: 280px;
  height: 130px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 1rem;
}

.detail-container p {
  font-size: 15px;
}

.reservebtn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 10px;
}

.cancelbtn {
  padding: 5px 10px;
  background: transparent;
  color: #adb2b6;
  border: 2px solid #adb2b6;
  border-radius: 3px;
  font-size: 10px;
}

.reservation {
  background-color: #18a2b8;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  margin: 0.5rem;
}
